<p>from-event works!</p>

<button class="btn btn-primary" #clickElem>sendData11</button>

<div class="card">
    <div class="card-header">data display by click event</div>
    <div class="card-body" #cardBody>

    </div>
    <div class="card-footer">data details</div>
</div>

<!-- <button class="btn btn-primary" (click)='addData($event)'>sendData</button>

<div class="card">
    <div class="card-header">data display by click event</div>
    <div class="card-body" #cardBody>

    </div>
    <div class="card-footer">data details</div>
</div> -->
