<hr [ngStyle]="{'border':'1px solid yellow'}">
<p [ngStyle]="{'color':'red'}">merge-map works!</p>
<hr [ngStyle]="{'border':'1px solid yellow'}">



<h3>to see the differences between the map, map +mergeAll , mergeMap</h3>
<div class="  btn-group">
    <button class="btn btn-primary" (click)="mapOPerator()">Map</button>
    <button class="btn btn-primary" (click)="mapMergeAll()">Map+MergeAll</button>
    <button class="btn btn-primary" (click)="mergeMap()">mergeMap</button>
</div>
see console

<br><br><br><br>