<hr [ngStyle]="{'border':'1px solid yellow'}">
<p [ngStyle]="{'color':'red'}">concat-map works!!</p>
<hr [ngStyle]="{'border':'1px solid yellow'}">



<h3>to see the differences between the map, map +concatAll , concatMap,mergeMap</h3>
<div class="  btn-group">
    <button class="btn btn-primary" (click)="mapOPerator()">Map</button>
    <button class="btn btn-primary" (click)="mapConcatAll()">Map+ConcatAll</button>
    <button class="btn btn-primary" (click)="concatMapp()">+ConcatMap</button>
    <button class="btn btn-primary" (click)="mergeMap()">mergeMap</button>

</div>
see console

<br><br><br><br>